html, body{
    height: 100%;
    margin: 0;
    background-color: rgb(81, 81, 81);
    font-family: Arial, Helvetica, sans-serif;
}
.invisible{
    display: none !important;
}
button, input, select {
    font-size: 1rem;
    padding: 0.5em 1em;
}
.cursorpointer{
    cursor: pointer;
}
button{
    background-color: black;
    color: white;
}
a{
    color: cyan;
}
.nudge{
    transition: transform 0.1;
}
.content{
    display: grid;
    gap: 1rem;
    padding: 10%;
}
.createBtn{
    align-self: center !important;
    font-size: 25px;
    justify-self: center;
    text-align: center;
}

.Form{
    display: grid;
    grid-auto-flow: row;
    gap: 4%;
    font-size: 25px;
  }

/* PAGES */
.userProfile{
    display: grid;
    gap: 1rem;
    font-size: 21px;
    padding: 5%;
    background-image: linear-gradient(rgb(174, 174, 174), rgb(161, 161, 161));
}
.userProfile > button{
    display: grid;
    gap: 1rem;

    
}
.profileSettings{
}
.createPage{
    display: grid;
    font-size: 21px;
    background-color: rgba(255, 255, 255, 0.271);
}

/* POSTS/BADGES */
.author-wrapper {
    display: grid;
    grid-auto-flow: column;
    font-size: 26px;
    align-items: center;
    padding: 2%;
    gap: 0.5rem;
    background-image: linear-gradient(
        to right, rgb(214, 214, 214), rgba(127, 167, 181, 0));
    width: 80%;
}
.timestamp{
    font-size: 12px;
}

/* FEED STUFF*/
.feed{
    display: grid;
    gap: 1rem;
}
.feedArticle{
    display: grid;
    justify-items: start;
    gap: 1rem;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 2%;
    background-image: linear-gradient(to right, 
    rgb(120, 120, 120), rgba(121, 121, 121, 0.624));
}
.feedArticleMedia {

  box-shadow: rgba(0, 0, 0, 0.335) 1px 8px 12px;
  border-radius: 10%;
  object-fit: cover;
  clip-path: inset(0 round 10%);
  width: 100%;
  max-width: 100%;
  height: auto;
}
.interact{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    padding: 1%;
    width: 150px;
    align-items: center;
    font-size: 34px;
    border-radius: 25%;

      user-select: none;
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}
.interact > div{
    
    box-shadow: rgba(0, 0, 0, 0.335) 1px 8px 12px;
}
.smallAvatar{
    box-shadow: rgba(0, 0, 0, 0.449) 3px 5px 12px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.medAvatar{
    cursor: pointer;
    width: 250px;
    height: auto;
}
.header{
    box-shadow: rgba(0, 0, 0, 0.335) 1px 8px 12px;
    background-image: linear-gradient(rgb(55, 56, 59), rgb(0, 0, 0));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    padding-left: 4%;
    padding-top: 2%;
    height: 20%;
}
.headerUI{
    display: grid;
    grid-auto-flow: column;
    height:  100%;
    max-width: 70%;
    align-items: center;
    gap: 1rem;
}
footer{
    display: grid;
    padding-top: 40%;
    justify-content: center;
}
.error{
    color: red;
    background-color: black;
    font-size: 12px;
}
